/* ===== MOBILE VIEW ===== */
@media only screen and (max-width: 1023px){
    header{
        left: -400px;
    }

    header .footer{
        left: -400px;
    }

    #menu-btn{
        display: block;
    }

    /* ===== HEADER TOGGLE ===== */
    .mobile-menu-active header{
        left: 0;
    }

    .mobile-menu-active header .footer{
        left: 0;
    }

    /* ===== MAIN ===== */
    main{
        margin-left: 0;
    }

    /* ===== SKILL SECTION ===== */
    #skills .insights{
        display: grid;
        grid-template-columns: repeat(3, auto);
    }

    /* ===== PROJECT SECTION ===== */
    #project .project-row{
        grid-template-columns: repeat(1, auto);
    }

    /* ===== CONTACT SECTION ===== */
    #contact .contact-row{
        flex-direction: column;
        gap: 2rem;
    }

    #contact .contact-row .contact-right form{
        align-items: center;
    }

    #contact .contact-row .contact-right form input[type=submit]{
        width: 50%;
    }
}

@media only screen and (max-width: 767px){ 
    .mobile-menu-active header .footer p{
        font-size: 9px;
    }
    
    /* ===== HOME SECTION ===== */
    #home .home-row h1{
        font-size: 1.3rem;
        letter-spacing: 0;
        line-height: 2.2rem;
    }
    
    #home .home-row p{
        font-size: .8rem;
        font-weight: 500;
    }
    
    #home .home-row p span{
        border-bottom: 2px solid var(--color-primary);
    }

    /* ===== GLOBAL SUB HEADING  ===== */
    .sub-heading{
        font-size: 1.5rem;
    }

    /* ===== ABOUT SECTION ===== */
    #about .divider ~ p{
        font-size: .8rem;
        font-weight: 400;
        margin-top: 1rem;
    }

    #about .about-col{
        display: flex;
        flex-direction: column;
    }

    #about .about-col .img-col img{
        width: 70%;
        margin-bottom: .5rem;
    }

    #about .about-col .info-col h3{
        font-size: 1.3rem;
    }

    #about .about-col .info-col p{
        font-size: .7rem;
        letter-spacing: .3px;
    }

    #about .about-col .info-col .icon-list-col{
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-top: 3rem;
    }

    #about .about-col .info-col .icon-list-col .icon-list ul li i , 
    #about .about-col .info-col .icon-list-col .icon-list ul li strong , 
    #about .about-col .info-col .icon-list-col .icon-list ul li span{
        font-size: .8rem;
    }

    /* ===== SKILL SECTION ===== */
    #skills .insights{
        display: grid;
        grid-template-columns: repeat(1, auto);
        justify-content: center;
    }

    /* ===== EXPERIENCE SECTION ===== */
    #experience .job h3{
        font-size: 1.3rem;
    }

    #experience .job h4{
        font-size: 1rem;
    }

    #experience .job p{
        font-size: .8rem;
        font-weight: 400;
    }

    #experience .job .tech-icons{
        font-size: 1.5rem;
    }

    /* ===== PROJECT SECTION ===== */
    #project .project-row{
        grid-template-columns: repeat(1, auto);
    }

    /* ===== CONTACT SECTION ===== */
    #contact p{
        font-size: .8rem;
        font-weight: 400;
    }

    #contact .contact-row .contact-left .icon-box .icon i{
        width: 40px;
        height: 40px;
        line-height: 2.3rem;
        font-size: 17px;
    }

    #contact .contact-row .contact-left .icon-box .info h4{
        font-size: 1rem;
        font-weight: 600;
    }
    
    #contact .contact-row .contact-left .icon-box .info h4 + p{
        color: var(--color-gray);
        font-size: .8rem;
        font-weight: 500;
    }

    #contact .contact-row .contact-right form input, 
    #contact .contact-row .contact-right form textarea{
        font-size: .8rem;
    }

    #contact .contact-row .contact-right form input[type=submit]{
        font-size: .9rem;
    }
}